services:
  db:
    image: postgres:15
    container_name: pfe_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: compta_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: pfe_backend
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8000"
    volumes:
      - ./backend:/app
      - ./backend/uploads:/app/uploads


volumes:
  postgres_data:
