

# fastapi
# uvicorn
# sqlalchemy
# psycopg[binary]
# python-multipart
# alembic
# pdf2image==1.17.0
# pytesseract
# opencv-python-headless
# openpyxl==3.1.5
# reportlab



fastapi
uvicorn
sqlalchemy
psycopg[binary]
python-multipart
alembic
pdf2image==1.17.0
pytesseract
opencv-python-headless
openpyxl==3.1.5
reportlab
pdfplumber==0.11.4

google-genai==1.63.0
